<h1>Here are out current exhibitions</h1>
<p>
<table>
  <tr>
    <th>Name</th>
    <th>Information</th>
  </tr>
  <% for exhibition in @exhibitions_live %>
  <tr>
    <td><a href="<%=exhibition.id%>"><%=exhibition.name%></a></td>
    <th><%=exhibition.info %></th>
  </tr>
  <% end %>
</p>
<br>

  <p><a href="./previous_exhibitions">Previous Exhibitions</a></p>
</p>
