<h1>Welcome, Visitor</h1>
<p>Welcome to John's art gallery. <br>
  Here you can access information about our exhibitions, artworks and associated artists</p>
<ul>
  <li><a href="/visitor/exhibitions">Click here for info on current exhibitions</a></li>
  <li><a href="/visitor/artworks">Click here for info on individual artworks in our collection</a></li>
  <li><a href="/visitor/artists">Click here for info on artists we work with</a></li>

</ul>
