<p>
  <table>
    <tr>
      <th>Name</th>
      <th>Information</th>
    </tr>
    <% for exhibition in @exhibitions_done %>
    <tr>
      <td><a href="exhibitions/<%=exhibition.id%>"><%=exhibition.name%></a></td>
      <th><%=exhibition.info %></th>
    </tr>
    <% end %>



</table>
