<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>John's Gallery</title>
  </head>
  <body>

    <ul>
      <li><a rel="stylesheet" type="text/css" href="/">Home</a>
    </ul>

    <%= yield %>
  </body>
</html>
