<h1>Hello dear curator. What would you like to curate today?</h1>

<p>Admin options:</p>

<ul>
  <li><a href="/admin/artists">View all artists</a></li>
  <li><a href="/admin/newartist">Add a new artist</a></li>
<br>
<li><a href="/admin/artworks">View all artworks</a></li>
<li><a href="/admin/newartwork">Add a new artwork</a></li>
<br>
<li><a href="/admin/exhibitions">View all exhibitions</a></li>
<li><a href="/admin/newexhibition">Add a new exhibition</a></li>

</ul>
