<h1>hello</h1>

<p>Admin options</p>

<ul>
  <li><a href="/admin/artists">View all artists</a></li>
  <li><a href="/admin/newartist">Add a new artist</a></li>
  <li><a href="/admin/removeartist">Remove an artist</a></li>

</ul>
