<p>hi</p>

<form  action="/admin/newexhibition" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <label for="info">Information:</label>
  <input id="info" type="text" name="info" />
<label for="active">Active?</label>
<select id="active" name="active">
  <option value="true">Active</option>
  <option value="false">Past</option>
  <input type="submit"  value="Add exhibition">

</select>
</form>
