<p>hi</p>

<form  action="/admin/newartist" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <label for="date-of-birth">Year Of Birth:</label>
  <input id="date-of-birth" type="text" name="date_of_birth" />
<label for="life">Still Alive?</label>
<select id="life" name="alive">
  <option value="true">Alive</option>
  <option value="false">Dead</option>
  <input type="submit"  value="Add artist">

</select>
</form>
